@import "tailwindcss";

@theme {
  --font-delius: "Delius Swash Caps", cursive;
  --font-unicase: "Delius Unicase", cursive;
  --font-special: "Edu NSW ACT Cursive", cursive;
  --animate-better-pulse: better-pulse 5s ease-in-out 0ms infinite;
  --animate-better-pulse-1: better-pulse 5s ease-in-out 250ms infinite;
  --animate-better-pulse-2: better-pulse 5s ease-in-out 2ms infinite;
  --animate-better-pulse-3: better-pulse 5s ease-in-out 4ms infinite;
  --animate-flash: flash 1.25s linear 3600ms forwards;
  --animate-spin-1: spin1 2s ease-out 0ms forwards;
  --animate-spin-2: spin2 2s ease-out 300ms forwards;
  --animate-spin-3: spin3 2s ease-out 600ms forwards;
  --animate-spin-4: spin4 2s ease-out 900ms forwards;
  --animate-spin-5: spin5 2s ease-out 1200ms forwards;
  --animate-spin-6: spin6 2s ease-out 1500ms forwards;
  --animate-spin-7: spin7 2s ease-out 1800ms forwards;
  --animate-spin-8: spin8 2s ease-out 2100ms forwards;
  --animate-spin-9: spin9 2s ease-out 2400ms forwards;
  --animate-spin-10: spin10 2s ease-out 2700ms forwards;
  --animate-spin-11: spin11 2s ease-out 3000ms forwards;
  --animate-spin-12: spin12 2s ease-out 3300ms forwards;
}

@keyframes better-pulse {
  0% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    filter: blur(5px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin1 {
  0% {
    transform: translate(1000px, 0px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin2 {
  0% {
    transform: translate(866px, 500px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin3 {
  0% {
    transform: translate(500px, 866px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin4 {
  0% {
    transform: translate(0px, 1000px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin5 {
  0% {
    transform: translate(-500px, 866px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin6 {
  0% {
    transform: translate(-866px, 500px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin7 {
  0% {
    transform: translate(-1000px, 0px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin8 {
  0% {
    transform: translate(-866px, -500px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin9 {
  0% {
    transform: translate(-500px, -866px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin10 {
  0% {
    transform: translate(0px, -1000px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin11 {
  0% {
    transform: translate(500px, -866px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin12 {
  0% {
    transform: translate(866px, -500px) rotate(0deg);
    opacity: 1;
  }
  90% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
    opacity: 0;
  }
}